{% extends "base.html" %}

{% block title %} запрос ссылки {% endblock %}
{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <h3 style="text-align: center;">Сброс пароля</h3>
        <form method="post">
          {% csrf_token %} 
          <div class="row-md-2">
            <input type="email" class="form-control  mb-2" name="email" placeholder="name@example.com">                
          </div>
          <button class="btn btn-success w-100 py-2" type="submit">Запросить ссылку</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
